<h2>Productos</h2>

    {{#each products.payload}}
    <div class="product">
        <h3>{{title}}</h3>
        <p>Precio: ${{price}}</p>
        <p>Categoría: {{category}}</p>
        <button class="add-to-cart" data-product-id="{{_id}}">Agregar al carrito</button>
    </div>
    {{/each}}